<p>
  <strong>Key:</strong>
  <%= @apikey.key %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @apikey.notes %>
</p>


<p>
  <strong>Enabled:</strong>
  <%= @apikey.enabled %>
</p>

<%= link_to 'Edit', edit_apikey_path(@apikey) %> |
<%= link_to 'Back', apikeys_path %>
