<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MapStory Map Warper: <%= (snippet(@html_title, 40)) || ''-%> </title>
    <%= stylesheet_link_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= javascript_tag "jQuery.noConflict();" -%>

    <%# Used for editing / viewing maps %>
    <%= render 'map_detail_js' %>

    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <% if @onload -%>
    <body onload="<%=@onload%>">
    <%else-%>
    <body>
    <%end%>
    <%= render :partial => 'shared/analyticstop' %>
          
    <%= render "header" %>
    
    <main>

      <%# Why don't we just render @map here? What is that partial used for at the moment? %>
      <%# TODO: Leveraging new map_summary for now, but will need to look at in future %>
      <%= render partial: "maps/map_summary", collection: [@map] %>

    <span id="focusHolder"> </span>
    <% @tabs = [{:name=>"show",:divname=>"Show", :label=>"Show", :path=>map_path},
      {:name=>"warp",:divname=>"Rectify", :label=>"Rectify", :path=>warp_map_path(:id => @map)},
      {:name=>"clip",:divname=>"Crop", :label=>"Crop", :path=>clip_map_path(:id => @map)},
      #{:name=>"align",:divname=>"Align", :label=>"Align", :path=>align_map_path(:id => @map)},
      {:name=>"warped",:divname=>"Preview_Rectified_Map", :label=>"Preview", :path=>warped_map_path(:id => @map)},
      {:name=>"export",:divname=>"Export", :label=>"Export", :path=>export_map_path(:id => @map)},
      {:name=>"activity",:divname=>"Activity_History", :label=>"Activity",:path=> map_activity_path(:id => @map)} ] %>
    <div id="wooTabs">
      <ul>
        <% @tabs.each do |tab| %>
          <% if @current_tab == tab[:name] %>
            <% tab[:path] = "#"+tab[:divname]  %>
            <% @current_tab_divname = tab[:divname] %>
          <% end %>
          <% unless @disabled_tabs && @disabled_tabs.include?(tab[:name]) -%>
            <li><a id="aa<%=tab[:label]%>" rel="history" href="<%=tab[:path]%>" title="<%=tab[:label]%>">
                <span><%=tab[:label]%><% if tab[:count] -%> (<%=tab[:count]-%>)<%end-%></span>
              </a></li>
          <% end -%>
        <% end -%>
      </ul>
      <div id="<%= @current_tab_divname %>">
        <%= flash_messages %>
        <%= yield %>
      </div>

    </div>

    <div id="panel-under-tabs">

    </div>

    </main>

    <%= render "footer" %>
    <%= render :partial => 'shared/analyticsbottom', :locals => {
      :map => @map, :current_tab => @current_tab
      } %>
  </body>
</html>
